body {
    background-color: black
}

h1 {
    color: blueviolet;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.glow {
    font-size: 80px;
    color: pink;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.sidenav {
    height: 100%;
    width: 125px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;

}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: pink;
    display: flex;
}

#AboutMeSection img {
    border: solid 10px pink;
    height: 170px;
    width: 170px;
}

section {
    color: pink;
    text-align: center;
    overflow: visible;
    padding-top: 100 px;
    margin: 50px auto;
}

.Portfolio p {
    margin: 0 auto;
    width: 400px;

}

.website a {
    
    flex-basis: calc(50% - 1em);
}

.thumbnail {
    align-items: center;
    max-width: 250px;
    max-height: 400px;
}


.thumbnail:hover {
    transform: scale(1.2);

}
/* .special {
   height: 100px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
   margin-bottom: 10px;
} */
.special:hover {
    transform: scale(1.2);
}
.contactinfo {
    padding: 100 0 100 0;
}


   
.img {
     
    background-image: url('https://th.bing.com/th/id/R.397932589464129e5c778d5ca028f740?rik=Cx6Qfs%2f51elEnw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f4%2fd%2f0%2f894485-pretty-summer-backgrounds-1920x1080-download-free.jpg&ehk=VSPDPmL8c7Mauj6ZK0ojNgTOiIRzRZHjrIduzKN54eA%3d&risl=&pid=ImgRaw&r=0');      height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
  }
  

 .cardcontainer{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
 }
.card {
    width: 400px;
    


}
